[2016-03-03 00:14] begriffs opened #1 "Cannot start services"
Here's what I tried:

[code]

If docker.io/citusdata/citus exists can you give me access to it? I'm begriffs on dockerhub.

[2016-03-03 00:18] #1 closed, assigned to jasonmp85

[2016-03-18 19:18] begriffs opened #3 "Docker image for tutorial convenience"
@ozgune, @lithp and I were thinking about the Docker possibilities to make the Citus tutorials easy for new users.

We thought of three broad possibilities:
1. Include the python tutorial scripts and python runtime in the main Citus docker container
2. Create a new tutorial container which builds on top of the Citus container (exploring that here https://github.com/citusdata/tutorial-resources/pul

[2016-04-26 21:46] travisjeffery opened #5 "Build a "latest" image based on nightlies"
Hey there,

Do you mind putting out an update? Would love to have this: https://github.com/citusdata/citus/pull/445

Thanks

[2016-04-26 22:01] jasonmp85 commented on #5
Hey @travisjeffery: At the moment we're only providing Docker images of official Citus releases.

That pull request is slated for the upcoming Citus 5.1 and as such is not yet in our Docker image (or any existing Citus release).

We may explore providing a `latest` tag that points to a nightly build, but this isn't something we've set up at the moment.

Leaving this open to track a possible soluti

[2016-06-02 21:37] jasonmp85 commented on #5
I've decided upon building a `nightly` tag for providing nightly builds from Citus `master` and reserving `latest` for its typical (I think?) use as "latest release" (e.g. 5.1.0).

[2016-06-02 21:39] #5 closed

[2016-09-21 17:57] jasonmp85 opened #10 "Add HEALTHCHECK instruction to Dockerfile"
Docker 1.12 [added a `HEALTHCHECK`](https://docs.docker.com/engine/reference/builder/#/healthcheck) instruction that could prove useful.

[2016-12-08 20:48] enragedginger opened #14 "Recommended pattern for database creation"
Hello,

Thanks for putting this project together. What's the recommended pattern for database creation for local development with Citus and Docker?

I have a SQL script that creates my database tables--some of which are Citus distributed tables. I'd like to run a command using docker compose to start up a master and two workers, and run the SQL create script. What's the recommended approach for do

[2016-12-08 21:02] enragedginger commented on #14
Also, it might be worth noting that I'm running Docker native Version 1.13.0-rc3-beta32 (14523) on Mac OS X

[2017-01-23 15:56] enragedginger commented on #14
For anyone who comes across this, I did following to get me by for now:
1. Stopped using a custom POSTGRES_USER, POSTGRES_PASSWORD, and POSTGRES_DB. The Citus containers don't appear to support such things when running in distributed mode. That is, when the master tries to connect to the workers, it doesn't seem to use these values.
2. Stopped running my custom DB create / seed script when the con

[2017-01-23 16:43] jasonmp85 commented on #14
Hey, this ticket slipped through the cracks of our support in December… I'm going to give it a look later today. I may have some answers around `POSTGRES_USER`, etc. variables and how to get the master to use them when connecting to workers (our Cloud team probably has something to add about this).

As far as the seeding goes; I do think it'll be safer to populate during startup.

For "the workers

[2017-01-23 18:31] enragedginger commented on #14
@jasonmp85 Thanks for looking into this.

I haven't been able to find deterministic steps to reproduce the problem so I'm thinking it's some kind of race condition. I have a docker compose file that's not entirely dissimilar to the example one. I have references to a couple of other containers I'm using (Zookeeper, Kafka).

I'm using `docker-compose up-d && docker-compose scale worker=2 kafka=3` t

[2017-02-27 11:09] hackermd opened #18 "Understanding pg_worker_list.conf"
I am trying to understand your `docker-compose` setup, where worker nodes get dynamically registered via a shared volume. In particular, I would like to understand the `pg_worker_list.conf` file, which doesn't seem to be documented (anymore). I am setting up citus clusters via ansible and it would be convenient to be able to register worker nodes upon deployment without having to connect to the ma

[2017-03-13 21:32] austinnichols101 opened #19 "Feature request: Alpine Version 9.6.2-alpine"
I would like to see a version of the container based on the official postgres 9.6.2-alpine image.  The overall image and attack surface is MUCH smaller on the Alpine image.

[2017-05-09 09:03] lithp opened #22 "`docker-compose down` drops volumes and deletes all data"
This came up in Drift, [the documentation](https://docs.docker.com/compose/reference/down/) for `down` makes it sound like data should still be around after `down`.

I think this is because the base postgres image [uses a volume in `/var/lib/postgresql/data`](https://github.com/docker-library/postgres/blob/3d4e5e9f64124b72aa80f80e2635aff0545988c6/9.6/Dockerfile#L62) where the compose spec exposes

[2017-08-23 21:54] sumedhpathak opened #29 "Update Docker image to use new node addition API"
Our image still relies upon `pg_worker_list.conf`, so we should update that to use master_add_node/master_remove_node.

[2017-08-28 13:01] furkansahin commented on #29
Hey @sumedhpathak after playing around with the image, I tried to come up with a solution.
Currently, we rely on an open source project [jwilder/docker-gen](https://github.com/jwilder/docker-gen) to create the pg_worker_list.conf file.

What docker-gen (our repo [workerlist-gen](https://github.com/citusdata/workerlist-gen)) does is basically if there is an event which fits in .tmpl file, it writes

[2017-08-30 22:51] jasonmp85 commented on #22
Closing this… the `var/run` volume is for exposing the socket file between Citus instances. `docker-compose down` is doing what it says it does (drops all containers, networks, and volumes). The PostgreSQL data directory is the same one we use, and it is not external.

[2017-08-30 22:51] #22 closed

[2017-08-30 22:52] jasonmp85 commented on #19
I played around with this a while back and was able to get it working. Our repo host doesn't offer APK hosting, but with a little effort I was able to produce an alpine image that compiles Citus from source. I'll share my findings in the coming week or so when I get around to it.

[2017-08-30 22:53] jasonmp85 commented on #18
Hey @hackermd… I know this is a _super_ delayed, but `pg_worker_list.conf` is a deprecated way of specifying worker nodes; everything is indeed done with `master_add_node` now, and we are in the process of removing our own `pg_worker_list.conf` usage now (see #29)

[2017-08-30 22:53] #18 closed

[2017-08-30 22:55] jasonmp85 commented on #14
It's been a while since I've looked over the issues in this repo. Were there any further questions? We're doing some work on our own `docker-compose` node membership implementation; any concerns you have would be nice to know and address in that work!

[2017-08-30 22:55] hackermd commented on #18
@jasonmp85 thanks for the notice! This is good to know @riccardomurri

[2017-08-30 22:56] jasonmp85 commented on #3
I think the tarballs are gone now, and we have other tutorial approaches we've explored. @begriffs… I'm closing this; re-open if you still have concerns, plz.

[2017-08-30 22:56] #3 closed

[2017-08-31 14:13] enragedginger commented on #14
Not at this time. I think we can close this. Thank you!

[2017-08-31 14:13] #14 closed

[2017-09-15 10:06] neerajdangol opened #35 "Cannot run docker"
When I run
`docker-compose -p citus up -d`
it gives the following error:

`Pulling manager (citusdata/membership-manager:latest)...
ERROR: repository citusdata/membership-manager not found: does not exist or no pull access`

docker-compose.yml configuration:

[code]
I'm running docker on mac

[2017-09-15 12:26] tumbly commented on #35
I just tried following the tutorial [here](https://docs.citusdata.com/en/stable/installation/single_machine_docker.html#single-machine-docker) I got a similar error:
[code]

[2017-09-15 12:53] jwilsjustin commented on #35
I ran into the same issue and tracked it down to this commit: https://github.com/citusdata/docker/commit/010187b32b0795c84805239eb13ec8423e8ddd04#diff-93338acab3f378f2d780987a47416596R15

Using Version 2 of the `docker-compose` file should work: https://github.com/citusdata/docker/blob/243f9fa9572a04c9ce48efab17720e44e84033da/docker-compose.yml

[2017-09-15 18:36] #29 closed

[2017-09-15 18:38] jasonmp85 commented on #35
Hey all (@jwilsjustin, @tumbly, and @neerajdangol). I apologize for the inconvenience. We've been making some Docker updates lately and inadvertently pushed up a new `docker-compose` before all our images were built. Can you try the instructions again and let me know whether the issue is fixed?

[2017-09-15 22:59] jasonmp85 commented on #35
@neerajdangol let me know whether this works for you or just close the issue after you have time to test it; thanks!

[2017-09-15 22:59] jasonmp85 commented on #10
This is done now.

[2017-09-15 22:59] #10 closed

[2017-09-15 23:07] #19 closed

[2017-09-15 23:16] jasonmp85 commented on #19
@austinnichols101 There are now `alpine`, `7-alpine`, `7.0-alpine`, and `7.0.1-alpine` tags. I haven't tested them terribly much but they should work. If you're interested, let me know how they look.

[2017-09-16 08:27] neerajdangol commented on #35
The fix worked. Thanks @jasonmp85!

[2017-09-16 08:27] #35 closed

[2017-09-26 21:45] jasonmp85 opened #40 "Document latest changes"
New environment variables, design, how stuff works, advanced use patterns, etc.

[2017-10-02 10:40] marcocitus opened #41 "Support for multiple databases"
Moved from https://github.com/citusdata/citus/issues/1680 :

[2017-10-02 17:35] jasonmp85 commented on #41
Hey @kbaegis; this configuration is already supported, but as you've noticed it's not as straightforward as just using the environment variables and `sql` files.

I've seen several customers put the `CREATE DATABASE` statements in one `sql` file and add a subsequent `sh` file with a little shell script for loop that loops over all their databases and calls `psql --username="$PGUSER" --dbname="$DB"

[2017-10-07 14:18] kbaegis commented on #41
Sure. I run multiple self-hosted applications across a 4 node cluster. Citus is filling my need for a multi-master scalable database backend for these applications (gogs, nextcloud, radius, etc). To provide secure isolation between the applications, each is tied to a user/db/auth mechanism per pg_hba.conf to prevent cross-application queries against the db. There's no technical table name collisio

[2017-10-10 10:02] kbaegis commented on #41
As I play around with this, some applications really dislike not being able to implement UNIQUE. If you guys come up with a strategy for multiple database containers, it would be wonderful if 1) the membership manager could track multiple databases, and 2) you could conveniently differentiate between citus tracked/enabled databases and another "tightly coupled" MM implementation and/or streaming m

[2017-12-03 00:14] once-ler opened #54 "pg_last_xlog_receive_location() does not exist"
Version 7.1.0 breaks with

ERROR:  function pg_last_xlog_receive_location() does not exist at character 283

Could this be the cause? PG 10 renamed "xlog" to "wal" as stated [here](https://wiki.postgresql.org/wiki/New_in_postgres_10#Renaming_of_.22xlog.22_to_.22wal.22_Globally_.28and_location.2Flsn.29)

[2017-12-04 18:18] sumedhpathak commented on #54
Hi there! Could you add some context on the situation when you run into this issue? Since this is in the Docker repo, I presume you encounter this in a Docker image. I don't think we're doing anything specific w.r.t the transaction log in Docker, so it may be a more general issue

[2017-12-11 17:44] sentient opened #57 "persist data with a citus cluster"
I'm pretty new to Citus so be easy on me ;)

The documentation mentions that the citus_standalone is storing the PGDATA in a mounted volume (,so it persist between restarts of the container)

I am trying to start the citus cluster with data persistency. Do I have to do something for this?

First of all I had to change the docker-compose.yml file a little bit.
I'm running ```docker-compose version

[2017-12-11 20:14] sentient commented on #57
some additional info from the docker-compose logs
[code]

[2017-12-12 21:32] sumedhpathak commented on #57
I spent some time looking at this, and it appears our membership-manager might be the culprit: https://github.com/citusdata/membership-manager/blob/master/manager.py#L31. A stop seems to be triggering the remove_node() method, which deletes data from pg_dist_placement, and calls master_remove_node. This causes the table and contents in pg_dist_partition, pg_dist_shard to remain, but nothing in pg_

[2017-12-13 20:36] once-ler commented on #54
I am running ```docker-compose -p citus up```

I then get errors such as ```worker_1 | 2017-12-13 20:25:40.868 UTC [1] DETAIL:  The data directory was initialized by PostgreSQL version 9.6, which is not compatible with this version 10.1.```

Previously, I had installed ```apt-get install postgresql-server-dev-9.6``` on my desktop, but I don't think this would be relevant to docker.

Next, I tried

[2017-12-13 20:47] lfittl commented on #54
@once-ler It seems you'll need to remove the volumes and have an empty data directory, since you can't re-use the Postgres 9.6 data directory when running on 10.

The following should do it:

[code]

[2017-12-13 21:37] once-ler commented on #54
Thanks @lfittl That did the trick.

When I do a ```sudo -u postgres psql -h localhost``` and check the number of workers, I always get 0.
Is there something else I need to do?
[code]

[2017-12-13 22:11] lfittl commented on #54
@once-ler I'm wondering if the worker nodes correctly registered - what does `docker ps` show?

[2017-12-13 22:34] once-ler commented on #54
@lfittl I also tried ```docker-compose -p citus scale worker=2```

```docker ps``` shows the workers are up but the query still returns 0.

[code]
This is logs from citus_worker_1:
[code]

[2018-01-18 21:20] bitglue opened #67 "citusdata/citus:7.2.0 doesn't seem to exist"
[code]

[Looking at Docker Hub](https://hub.docker.com/r/citusdata/citus/tags/), seems there isn't a 7.2.0 tag.

[2018-01-18 21:29] sumedhpathak commented on #67
Thanks for reporting this, and we're looking into it. @begriffs will provide an update soon.

[2018-01-18 21:39] begriffs commented on #67
Hi @bitglue, we previously hadn't tagged 7.2 on Docker Hub but it's now available. I just pulled it and verified it runs locally. See whether it works for you now, and we can close the issue.

[2018-01-18 21:52] bitglue commented on #67
Works great, thanks!

[2018-01-18 21:52] #67 closed

[2018-01-26 17:08] blaggacao opened #69 "docker-compose 3.4 support"
The `depends_on` flag was conceptually simplified only  representing "docker running"
Readiness testing was made responsibility of the application.

[2018-01-26 17:12] blaggacao commented on #69
see: https://docs.docker.com/compose/startup-order/

[2018-01-26 19:45] blaggacao opened #70 "docker stack deploy compatible"
docker stack deploy (soon to be integrated with kubernetes or using kompose) is not compatible with `container_name`, I just commented it out but t is not clear from the outside if this was just cosmetics or if it's required for the functioning of this compose file.

If cosmetics, could you drop it?

[2018-01-30 18:40] dbaq commented on #41
I have a need for multiple DB as well, we figured it out with someone on the slack channel:

2db: accounts + domains

docker-compose file:
[code]

DockerFile
[code]

002-create-other-databases.sql file
[code]

The key is to have 1 manager per database. Hope it helps other people.

[2018-01-30 18:45] jasonmp85 commented on #41
@dbaq see the above comment, https://github.com/citusdata/docker/issues/41#issuecomment-333606545

[2018-01-30 18:47] jasonmp85 commented on #41
(Which is to say I believe you independently arrived at the same solution)

[2018-01-30 18:49] dbaq commented on #41
@jasonmp85 yes, I was just posting a working example with 2 databases (since I struggled a bit, that might help someone else).

[2018-02-13 14:55] TheTechOddBug commented on #57
Any update on this issue? Could you share the issue opened within manager repo in order to be able to follow its resolulution? Thank you very much in advance.

[2018-02-13 15:16] oscuroweb commented on #57
I have the same issue in Docker for Windows.

I've tried to set a local path as a volume in manager service
[code]
But, when I execute ``` docker-compose up -d ```, I get the follow error:
[code]

This is the log:
[code]

I also tried to set a volume in worker and master services, but, after run ``` docker-compose down```, data is missing.

NOTE:
* Docker version 17.12.0-ce, build c97c6d6
* docker

[2018-03-22 22:02] jack0 commented on #57
i also am running into this issue on linux and macosx

[2018-04-08 07:34] matjazmav commented on #70
+1

[2018-04-08 07:38] matjazmav commented on #70
@blaggacao Did you managed to deploy it to Docker Swarm?

[2018-04-08 16:38] blaggacao commented on #70
@matjazmav I'm currently waiting for some upstream upgrades (basically GA of Rancher 2.0) so to shift all infrastructure to k8s. Untill then I unfortunately do not have much time to invest further in this..

[2018-04-16 18:42] firefox0102 commented on #57
+1 I've had a lot of issues with this at work

[2018-04-16 19:36] jack0 commented on #57
i got this to work but it's rather hacky... hopefully it will help someone else

my primary goal is to be able to save the citus container data so we don’t need to run the pre-db init scripts that install various extensions as well as migrations
here are the steps (assumption is only one worker):
[code]

[2018-04-17 19:15] saicitus opened #75 "Docker Image doesn't work when specifying POSTGRES_USER/PASSWORD"
When `POSTGRES_USER and PASSWORD` is specified, the setup leads to errors whilst running queries which require distributed planning. Even a simple create_distributed_table fails.
The error message is: `Detail: fe_sendauth: no password supplied`.

This doesn’t happen when executing with the default setup.

[2018-04-17 20:13] saicitus commented on #75
The docker-compose file which was used is on these lines:
[code]

[2018-04-18 19:03] jasonmp85 commented on #75
@saicitus do you know what invocation was used to connect to the cluster? In particular, I'm wondering what database was connected… When using `PGUSER`, the Citus extension is only created in the database with the same name (with no value, this means the `postgres` user and `postgres` database, but if you specify e.g. a user of `jason` you'd better also connect to the database `jason` or you're go

[2018-04-19 22:08] jasonmp85 commented on #75
I found adding a `pgpass` (which I was considering) file to be unnecessary, so long as the nodes and coordinator all have the same password. If that's true, we just need to set `POSTGRES_USER` and `PGUSER` (and the corresponding password variables) to the same values. This ensures the PostgreSQL Docker image starts PostgreSQL with that user and password while also ensuring `libpq` connects to othe

[2018-05-03 18:47] jasonmp85 commented on #75
@sda399 can you try the approach in #76 and let me know whether it works for you? If so I'll probably merge it, update documentation, and close this issue.

[2018-05-31 22:18] Kelvinrr commented on #70
I have a working compose file here: https://github.com/Kelvinrr/docker-postgis-citus/blob/master/docker-compose.yml

It's sitting on a fork since I plan to make changes to the docker files and compose files to fit a novel problem we're working on.

From my experience, name didn't matter. Most of the problems in running on swarm was the manager. I worked around the issues in  the compose file:

 -

[2018-07-13 09:21] devopxy opened #90 "Locale issue with en_GB.UTF-8"
Hi All,

I am trying to use an extended image of PostgreSQL with en_GB.utf8 locale as explained in the
official docker documentation at https://hub.docker.com/r/_/postgres/

so my Dockerfile looks like

[code]

The modified image gets generated without any issues however, when  I try to start the cluster the master container remains in an unhealthy state and never reaches healthy state. Following

[2018-07-16 10:19] devopxy commented on #90
Hi All,

Finally I think that the solution to the issue is found. I looks like the problem is with PostgreSQL rather than Citus.  More on the issue can be found at

[https://stackoverflow.com/questions/18870775/how-to-change-the-template-database-collection-coding-on-postgresql](how to change the template database collection coding on postgresql)

[2018-07-16 10:53] devopxy commented on #90
When I tried with a vanilla postgres docker container with en_GB.UTF-8 extension it works smoothly.
The only change that you need to make is using the template 0 as stated in

https://stackoverflow.com/questions/18870775/how-to-change-the-template-database-collection-coding-on-postgresql]

However, when you try using en_GB.UTF-8 extension in a Citus cluster / master / workers with template 0 .. sa

[2018-07-19 08:33] devopxy commented on #90
Hi @colton-citus ,

I am  following following procedure >

**1. Build** >

`docker build -t  username/image:tag .`

**2.  Launch** >

Launching the cluster using` docker-compose up -d ` replacing the image with the custom  image <username/image:tag>

[code]

**Connecting**

Connecting the cluster using [pgAdmin 4](https://www.postgresql.org/ftp/pgadmin/pgadmin4/v3.1/windows/)

We have tried the se

[2018-07-19 09:15] butla opened #91 "Can't change the name of the "master" node in docker-compose.yml"
I'm integrating your docker-compose.yml (the setup with one worker, that is) into mine. I've noticed that changing the service name of "master" causes the setup to fail.

YML with "master" changed to "citus_master":
[code]

`docker-compose up; docker-compose down -v` output:
[code]

Are there some hardcodes somewhere, that are causing this? Should I pass some other option when I change the name of

[2018-07-19 19:59] jasonmp85 commented on #91
Can you try setting the environment variable `CITUS_HOST` to your new name for the `citus_manager` service?

[2018-07-22 20:29] butla commented on #91
@jasonmp85 Yup, that works. It's be good to convey that info in the Compose file. I see two options:
[code]

or

[code]
What do you think? I can make the PR.

[2018-07-23 08:42] devopxy commented on #90
Hi @colton-citus ,

Many thanks for your help ! I will try with the Docker version that you have specified as well as with
some other tool than pgAdmin. Also, will catch you up on the Slack channel with the modified config.

Thanks !

[2018-08-14 22:36] RVN-BR commented on #14
Hi @enragedginger & @jasonmp85 ,

I seem to be running into problems with docker-compose and POSTGRES_USER/PASSWORD variables too...

Was this ever looked into and fixed or was it just closed due to lack of need/interest?

[2018-08-15 14:18] enragedginger commented on #14
Hi @RVN-BR, it's been awhile, but I believe I closed it due to lack of interest.

[2018-08-16 07:35] dimandzhi opened #96 "Constant Citus Maintenance Daemon termination by signal 11 in alpine"
Well, hello there!
In dockerized setup based on alpine images of citus noticed constant coordinator postgres server restart:
<details><summary>LOG</summary>
<p>

[code]

</p>
</details>

As a result: connection is frequently lost and restored, possible data loss problems(?). No such problems on Debian image builds.
Done some investigation in core dumps and detected error from libssl.so.43.0.1 (fro

[2018-08-26 18:00] marchelbling commented on #14
As I've also struggled to make this work I've written an [article](http://marc.helbling.fr/running-citus-locally/) and created a [gist](https://gist.github.com/marchelbling/1ef4ae74c3d5bd745a04f7b8ae375f8a) that might also be helpful to you. Let me know if it works for you or if you have any feedback.

[2018-09-13 23:50] colton-citus commented on #57
This is probably the root cause: https://github.com/citusdata/membership-manager/issues/4 . I've created a branch to address this and will update once it's merged.

[2018-09-19 10:53] snaffi opened #100 "Master node reject all incoming connections"
I've found very strange behaviour with Citus in Docker.

I've run my application and everything goes well, but **after few hours**  my application was crashed because it can't connect to citus.

Docker version
`Docker version 18.06.1-ce, build e68fc7a`

[code]

logs from manager

[code]

I'm using default pg_hba.conf which allow all incoming connection

[code]

docker-compose.yml

[code]

[2018-09-19 10:55] snaffi commented on #100
Restart didn't help.

Drop all data volumes help me.

[2018-10-01 14:11] cforce opened #101 "could not translate host name"
I am curious why i get this warning on nearly every request on my console. Is that normal, how to get rid of that?
Thta happens for master and tag 7.5.1

`2018-10-01 14:06:49.064 UTC [440] DETAIL:  could not translate host name "citus_worker_4" to address: Temporary failure in name resolution
2018-10-01 14:06:49.064 UTC [440] CONTEXT:  Citus maintenance daemon for database 12994 user 10
2018-10-01

[2018-10-03 05:43] #100 closed

[2018-10-03 05:45] snaffi commented on #100
https://dba.stackexchange.com/questions/215294/why-does-pg-hba-conf-sometimes-have-random-rules-added-to-it-postgresql

[2018-10-18 21:14] colton-citus opened #102 "Default config should be more persistent"
Current Docker config does not have persistent storage configured, and may lose data unexpectedly. This issue is being opened to suggest adding default volumes with a docker-config like this:

[code]

[2018-11-05 14:32] thanodnl opened #105 "Include Citus compatible extensions in published container"
Today there was a question in slack to include `pg_partman` in the container we publish. There are apparently multiple users[1] creating containers based on our containers to have `pg_partman` available.

We might want to include common plugins used together with Citus. Extensions that come to mind are:
 - `pg_partman`
 - `hll`

Lets collect common used extensions here and discuss whether we shoul

[2018-11-05 17:25] sfriquet opened #106 "Create extension hll fails with citus:8.0.0"
I'm trying to build an image using `citus:8.0.0` with the hll extension.

I got the following when issuing `CREATE EXTENSION "hll"`:

[code]

This used to work with `citus:7.5.0`.

Here's our `Dockerfile`:

[code]

And our `100-citus-setup.sh`:

[code]

FWIW, `topn` installs fine.

[2018-11-05 21:56] velioglu commented on #106
Hi @sfriquet, the problem is occurring due to some missing files in our lately build hll packages. We are currently working on that. I will add comment when we fix it.

[2018-11-06 11:50] velioglu commented on #106
Hi @sfriquet you can use hll now. Note that, you need to remove local docker image with tag 8.0.0 first.

[2018-11-06 11:50] #106 closed

[2018-12-15 00:09] jhgoodwin opened #113 "Docker-compose does not work as documented - missing image"
Documentation states to try:
[code]
I think the problem is that your hub.docker.com does not contain a tag for 8.0.2

https://hub.docker.com/r/citusdata/citus/tags?page=1

[2018-12-18 08:47] hanefi commented on #113
Thanks for pointing that out. Can you use the 8.0.0 version for now, until we fix this issue?

You can use the tag [v8.0.0-2.docker](https://github.com/citusdata/docker/tree/v8.0.0-2.docker) for now

[2018-12-18 14:39] hanefi commented on #113
I uploaded the images and now Docker hub contains the latest tags. Let me know if you have any issues

[2018-12-18 14:39] #113 closed

[2019-02-22 22:01] invisiblefunnel commented on #105
We'd love for Citus to include `pg_partman` in the official Docker image. We immediately ran into this blocker trying to run experiments locally.

[2019-02-26 01:39] gianlazz opened #118 "Running on Raspberry Pi?"
I've read this article which has lead me to believe that this can be done:
https://www.citusdata.com/blog/2015/03/09/citus-raspberry-pi-2/

However it's outdated and doesn't have any specific details on the setup.
When I run `docker-compose up` on my Raspberry Pi like in the examples it throws the following errors:
[code]

Is this because the base Postgres image that the dockerfile uses is for the

[2019-02-26 01:54] gianlazz commented on #118
So I went ahead and cloned the repo then modified the Dockerfile to use the arm64v8 postgres image and ran `docker build -t arm64v8/citus:8.1.1-1 .`

I then ran into another error which I think comes from this line in the Dockerfile:
`curl -s https://install.citusdata.com/community/deb.sh | bash`

I checked this shell script out and found the following comment in it:
[code]

Is there any route I c

[2019-02-26 17:33] jasonmp85 commented on #118
Rather than packaging for Arm, it would probably be easiest to just check out github.com/citusdata/citus and `./configure && make && make install`. This isn't something we've done in the recent past (that post is around four years old), and (as you found) isn't a supported architecture, so no guarantees it'll even compile, but feel free to open an issue or two over there if you run into compiler e

[2019-02-26 17:33] jasonmp85 commented on #118
(It's at least good the RPi is 64-bit now, since I _know_ we've got some 32-bit issues)

[2019-03-13 18:35] kehao95 opened #119 "citusdata/citus:8 function recover_prepared_transactions() does not exist."
The image `citusdata/citus:8` seems to be broken.

**Reproduce**

`docker-compose.yml`
[code]
[code]

When `citus_8` failed to init here's the logs output:
<details><summary>$(docker logs citus_8)</summary>
<p>

[code]

</p>
</details>

[2019-04-16 19:42] LucianoGandini commented on #105
We'd also like to have `pg_partman` in the official image. Any plans to have this done?

[2019-05-10 22:41] mhaagens opened #124 "Worker node not being added"
docker-compose.yml
[code]

Everything seems to work, except no active nodes are returned when running `SELECT master_get_active_worker_nodes();`

[2019-05-31 09:10] chrismark commented on #102
Will above work fine if there are more than one worker nodes? (Using docker-compose -p citus scale worker=2)

[2019-05-31 18:30] colton-citus commented on #102
@chrismark : This solution should work with an arbitrary number of worker nodes

[2019-06-04 05:09] chrismark commented on #102
There seems to be an issue when I started it with `--scale worker=2`, successfully create distributed table, then do a `docker-compose down`, then when I re-started it up with `--scale worker=2` again and run `select * from distributed_table` it errors out with `relation "foo_XXXX" does not exist`. Both workers have the same shards.

[2019-06-12 15:10] hanefi opened #127 "Outdated Alpine images have version mismatches"
The Alpine image Dockerfiles are not updated. But we still tag outdated images with the most recent versions in our automated Travis jobs.

All the Alpine docker images that are created after Citus 7.1.0 contain old and outdated Citus binaries ( and possibly outdated pg binaries as well )

https://github.com/citusdata/docker/blob/e63d7ff49c64a6b0a9b9196e0c76321590cdce3c/Dockerfile-alpine#L1-L2

I

[2019-06-13 23:11] jasonmp85 commented on #105
Good! The intent here is this image demonstrates a minimum base on top of which others can build a better production-ready image, etc. I don't think it really makes sense to bloat it up with other extensions most users will not need.

OTOH, maybe we should consider doing what e.g. `debian` does, which is to have a `slim` variant that is the bare minimum and put extra things in the other variant (t

[2019-06-13 23:13] jasonmp85 commented on #102
I'll investigate this, but maybe this is just a documentation issue; these images and configuration are not production-ready; they're for getting a taste of Citus and/or _maybe_ building a local development environment. If there's a bug that would make sense to fix, but if there's some missing functionality that's mostly just a need for robustness/restartability, etc., the urgency would be less.

[2019-06-13 23:28] jasonmp85 commented on #127
Yeah, I noticed this a while back!

[2019-06-14 08:14] sfriquet commented on #105
Citus Cloud comes with those extensions (partman, cron) though, so if you want to replicate your cloud environment for testing purposes you have to build your own image.

We’ve got one at [algolia/citus](https://hub.docker.com/r/algolia/citus) for this purpose.

[2019-06-14 10:29] hanefi commented on #127
I will fix this in the next release If I do the packaging.

I also plan on adding one more step to the release checklist issue template for the Alpine Docker images, so that it won't go unnoticed in the future

[2019-06-14 20:16] jasonmp85 commented on #105
That's a pretty compelling argument, actually, and gives us a good answer to "where do we stop including extensions, if we're going to include things other than Citus". I just wanted to avoid having to make the choices about what to include in the image.

OK, I think I'm convinced to have the main image match Cloud and the other image be called `slim` and have only Citus.

[2019-06-14 20:42] jasonmp85 commented on #127
Sure, or we can do it in-between releases. No worries.

It is a bit silly we hand-update things. Some scripts would be good.

[2019-06-26 19:04] xyrintech opened #128 "Image doesn't work when specifying POSTGRES_USER/PASSWORD"
[code]

Logs:
[code]

Seems to have some issue with the image.

[2019-06-26 19:06] xyrintech opened #129 "Hostname error for image"
`SQLSTATE[08006] [7] could not translate host name "citus_master" to address: Name or service not known`

[code]

[code]

Seems to have some issue with image when trying to connect with image with any web application

[2019-07-19 17:44] vladmunteanu opened #134 "Out of date README"
The README seems to be out of date for quite a while, specifying that the underlying Postgres version is 9.6 (1).

I don't think that is the case anymore, as indicated by (2) and (3).

(1): [README](https://github.com/citusdata/docker#function)
(2): [Dockerfile](https://github.com/citusdata/docker/blob/c07019f1fc468c834de6dbfae6f750382ff7f4bf/Dockerfile#L1)
(3): [Dockerfile-alpine](https://github.

[2019-07-23 08:05] hanefi commented on #134
Thanks for bringing this into our attention Vlad.

We update the docker images, `docker-compose.yml` file when we release new versions of Citus. I overlooked the README file, I will fix this

[2019-07-30 13:46] hanefi commented on #127
I manually updated `Dockefile-alpine` on the latest releases. I created a PR to automate this procedure as well

[2019-07-30 13:46] #127 closed

[2019-09-03 19:29] prevostc commented on #128
Same issue here, the official docker-compose image do not work properly.

[2019-09-16 20:36] ciarans commented on #128
Can confirm docker image is broken and does not work as described.

[2019-10-30 07:33] mrkahloon commented on #106
postgres=# create extension hll;
ERROR:  could not open extension control file "/usr/share/postgresql/11/extension/hll.control": No such file or directory
how can i add extension in postgresql11.  thanks in advanced

[2019-10-30 20:11] vinhbuivan opened #142 "Can't deploy in docker swarm by command "docker stack deploy""
docker-compose.yml
`version: '3.7'
services:
  master:
    container_name: "${COMPOSE_PROJECT_NAME:-citus}_master"
    image: 'citusdata/citus:8.3.2'
    ports: ["${MASTER_EXTERNAL_PORT:-5432}:5432"]
    labels: ['com.citusdata.role=Master']
    healthcheck:
  worker:
    image: 'citusdata/citus:8.3.2'
    labels: ['com.citusdata.role=Worker']
    depends_on: manager
  manager:
    container_name:

[2019-10-30 21:46] vinhbuivan commented on #142
Issues is resolved. Manager node would search for label `com.docker.compose.project` theforce we could do a trick by static asign label for it.

[docker-compose.zip](https://github.com/citusdata/docker/files/3791242/docker-compose.zip)

version: '3.7'
services:
  master:
    image: 'citusdata/citus:8.3.2'
    ports: ["${MASTER_EXTERNAL_PORT:-5432}:5432"]
    labels: ['com.citusdata.role=Master', '

[2019-10-30 21:46] #142 closed

[2019-10-30 21:48] vinhbuivan commented on #69
Checkout with this docker-compose version. I tested and it run on docker stack.
`
version: '3.7'
services:
  master:
    image: 'citusdata/citus:8.3.2'
    ports: ["${MASTER_EXTERNAL_PORT:-5432}:5432"]
    labels: ['com.citusdata.role=Master', 'com.docker.compose.project=citus']
    healthcheck:
  worker:
    image: 'citusdata/citus:8.3.2'
    labels: ['com.citusdata.role=Worker', 'com.docker.comp

[2019-11-05 09:28] #96 closed

[2019-12-19 10:41] #134 closed

[2020-02-21 12:35] hanefi opened #165 "Incorporate changes in postgresql-server-dev-* package contents"
Some of the new `postgresql-server-dev*` packages no longer have pgxs libs and pg_config binary, and we should update our docker images to be able to build on most recent PG versions

This issue occurs at PG `11.7`, `10.12`, and possibly some more versions.

Possible workarounds:
- install `postgresql-client-*` packages that now has the necessary files.
- use outdated libpq packages that still has

[2020-03-05 07:14] mubaidr opened #166 "Error installing packages in the image"
I need to extend the base citus image by installing some package, but running: `apt-get update` fails with error:
[code]

[2020-03-06 05:52] mubaidr commented on #166
I have extended official PostgreSQL image using this https://github.com/citusdata/docker/blob/master/Dockerfile and now it works fine.

[2020-03-12 05:22] mubaidr commented on #166
Summary:

- Using official `citusdata/citus` docker image running `apt-get update` causes error:
[code]

- Using official `postgres` docker image you cannot even install `citus` on it as the citus package is not available for this debian version. 🤦‍♂

Whats the solution to this official `citusdata/citus` having invalid registry specified?
Is there any specific reason the official `postgres` docker

[2020-03-16 16:03] xirius commented on #70
Still no progress for the docker stack ?

[2020-03-18 10:36] onurctirtir opened #170 "Image needs POSTGRES_USER/PASSWORD and setting them in docker compose doesn't work"
Lastly, @belyaev-andrey opened https://github.com/citusdata/docker/pull/169/ to add `POSTGRES_PASSWORD` environment variable to be able to start citusdata cluster properly. The problem was due to the base (PostgreSQL) docker image config is changed (in 12.2) and now it requires password parameter to start the PostgreSQL container.

------------------------------------------------------------------

[2020-03-18 12:03] onurctirtir commented on #170
We are rollbacking the base PostgreSQL image version to 12.1 to mitigate the issue (see https://github.com/citusdata/docker/pull/172). After fixing the problem around `POSTGRES_PASSWORD`, we will bump base PostgreSQL image version to 12.2 again

[2020-03-20 15:21] hanefi commented on #165
We created 9.2.2 without any issues, so there is no need to change anything in docker images after all

[2020-03-20 15:21] #165 closed

[2020-03-27 13:24] #75 closed

[2020-03-27 14:49] #170 closed

[2020-04-06 06:09] mubaidr commented on #166
Solved this by:

[code]

[2020-04-06 06:11] mubaidr commented on #129
Make sure you donot have `env` variable `COMPOSE_PROJECT_NAME` set.

[2020-04-07 07:51] mubaidr commented on #124
This happened to me; `master` service was taking time to startup and `manager` service would fail to connect. (from docker-compose logs) Setting `manager` service to `restart: on-failure` fix this. Manager is able to connect after 2,3 tries. (while master server restarts multiple times).

And now `SELECT master_get_active_worker_nodes();` returns a worker node too.

[2020-04-07 09:02] mubaidr commented on #69
Issue [#124 Worker node not being added](https://github.com/citusdata/docker/issues/124) is caused by this. Because manager service tries to connect to master service before it is ready and fails. But setting it to restart: on-failure will make sure it tires multiple times and eventually it will work.

More info: https://github.com/citusdata/docker/issues/124#issuecomment-610234165

[2020-04-08 20:39] mubaidr commented on #14
@enragedginger

See this: https://github.com/citusdata/docker/blob/master/Dockerfile#L35

I am having the same issue. But manually running the script seems counter intuitive and I believe somewhat diminish the use of docker like tools. There should be a proper way or event to notify that node initialization is complete. and then custom scripts should be run.

See this: https://github.com/citusdata

[2020-04-09 05:08] mahajanankur opened #184 "Error connecting citus-manger to master."
I am using the Citus version 9.2.4 with docker. I am trying to start the containers by docker-compose but I am unable to connect to the master by citus-manager.

I used V9.2.2 before upgrading to 9.2.4 with the same compose and success.

My docker-compose.yml looks like.

[code]

![citus-manager](https://user-images.githubusercontent.com/7963490/78859831-3137ce00-7a4e-11ea-9a85-297d48b196ec.png)

[2020-04-09 20:23] mahajanankur commented on #184
Solved this by changing environment variables to
[code]

[2020-04-09 20:23] #184 closed

[2020-04-10 13:36] hanefi commented on #184
The base PostgreSQL image changed the password behaviour, and it is now required to provide `POSTGRES_USER` and `POSTGRES_PASSWORD` in `docker-compose.yml`

This change is expected, and your solution seems perfect

[2020-04-10 13:43] hanefi commented on #166
The Citus packages are stored in a seperate repository. If you wish to install Citus packages, you need to install the Citus repository first. You can see the steps at https://www.citusdata.com/download/

I agree, I am looking into it

[2020-04-10 13:49] hanefi commented on #166
@mubaidr can you share with me some steps to replicate your issue? I could not reproduce your problem. Which tag are you using? I used the latest image and did not run into any problem

[code]

[code]

[2020-04-10 13:59] mubaidr commented on #166
Sure, I will check and report again.

[2020-04-11 06:24] mubaidr commented on #166
Tested `latest` and `9.2` tags, both works fine. Don't know why this happened earlier. :( Closing this issue. Thanks

[2020-04-11 06:24] #166 closed

[2020-04-11 14:51] abhi7788 opened #185 "High Availability Citus Master"
Hi,
Is there a way in the current citus docker image to create a high availability master node. As far as i understood so far after going through the documentation is you can build replicas in slave however all the execution is handled by citus master.This creates a bottleneck, if the master pod goes down leads to non availability of the database. It would be really helpful if we can build somethi

[2020-04-13 07:37] mahajanankur opened #186 "High CPU utilisation due to membership-manager docker."
I found the membership-manager docker is utilising a lot CPU due to which master and workers are also heating up the environment.

[2020-04-13 09:03] hanefi commented on #69
I created two PRs that aims to resolve this issue:
1. https://github.com/citusdata/membership-manager/pull/9 implements a polling mechanism in Membership Manager, so that (a) it will detect the readiness of the coordinator node, (b) properly report that it is ready to accept new Citus worker services
2. https://github.com/citusdata/docker/pull/187 (a) updates the docker images to properly detect d

[2020-04-13 09:04] hanefi commented on #124
I created two PRs that aims to resolve this issue:
1. https://github.com/citusdata/membership-manager/pull/9 implements a polling mechanism in Membership Manager, so that (a) it will detect the readiness of the coordinator node, (b) properly report that it is ready to accept new Citus worker services
2. https://github.com/citusdata/docker/pull/187 (a) updates the docker images to properly detect d

[2020-04-13 09:08] hanefi commented on #128
Resolved by https://github.com/citusdata/docker/pull/178

[2020-04-13 09:08] #128 closed

[2020-04-13 09:12] hanefi commented on #186
Thanks @mahajanankur for reporting this.

I created two PRs that aims to resolve this issue:
1. https://github.com/citusdata/membership-manager/pull/9 implements a polling mechanism in Membership Manager, so that (a) it will detect the readiness of the coordinator node, (b) properly report that it is ready to accept new Citus worker services
2. https://github.com/citusdata/docker/pull/187 (a) upda

[2020-04-13 09:19] mubaidr commented on #124
I am currently using similar method to wait for db. i.e. using `pg_healthcheck`. In addition to that I was also waiting for the worker node to be added to `manager` before I run any schema scripts. But now I think this is redundant. Can you confirm if the a new worker joins the master it will be automatically updated (schema and data) by the `master`?

[2020-04-13 09:29] hanefi commented on #14
@mubaidr I agree. However it was not so trivial, and slightly hard to figure out readiness reporting and detection in the docker service dependencies. I created 2 seperate PRs that aim to address this problem. Feel free to comment on these:
https://github.com/citusdata/docker/pull/187
https://github.com/citusdata/membership-manager/pull/9

[2020-04-13 09:43] mubaidr commented on #14
Thanks and yes, I too ended up using `pg_healthcheck`

[2020-04-13 12:41] mahajanankur commented on #186
@hanefi, just to inform you, the issue is still there even after shutting down the **membership-manager** container.

![citus_stats_2](https://user-images.githubusercontent.com/7963490/79121052-01702980-7db2-11ea-9f58-877ce3d7729f.png)

[2020-04-13 16:20] mubaidr commented on #129
Also setting ENV variable in `manager` service: `${COMPOSE_PROJECT_NAME:-citus}_master`

[2020-04-14 05:27] mubaidr commented on #124
^ got the answer. Need to wait for worker nodes to  run `reference` or `distributed` table definitions. This means it would be a better idea to wait for at-least one worker node too?

Currently I am using this script to check:
[code]

is there a better way?

[2020-04-14 07:36] hanefi commented on #124
I think it is better to wait until all your worker nodes are registered, and ready to accept connections. If you distribute a table when only one worker node is active, your queries may be slower than expected due to the uneven distribution of your data

[2020-04-14 07:47] mubaidr commented on #124
Ok Cool. Thanks

Any future nodes will be added by `membership-manager` but we need to run following command to redistribute data for optimal performance.

[code]

[2020-04-14 19:03] abhi7788 commented on #57
Hi,

I am facing similar issue on Kubernetes where i am running a 2 node cluster and one coordinator node. When i scaled down my worker and master statefulset to zero and scaled it back again to two again the cluster is throwing an error stating that tbl_nme_10284 shard is missing.

Could you please confirm how we can resolve this issue as it leads to entire data loss.

Thanks

[2020-04-16 15:48] hanefi commented on #124
I want to remind you that shard rebalancing is an enterprise feature and is not available in the docker setup.

[2020-04-16 16:17] mubaidr commented on #124
Well, surprised,  did not know that.

[2020-04-16 16:42] abhi7788 commented on #57
Thanks @hanefi for redirecting me to this conversation. I have already posted my issue on this thread. I will add my logs here too so that it will be easier to debug the issue. Also when you have mentioned that citus docker image is missing the data persistance feature, so you really mean that it does not store the data between the restart. I have attached a PVC with the citus workers and Master a

[2020-04-17 13:25] hanefi commented on #57
I do not have enough experience around K8s, but the main issue is this:
After a docker destroy event, we run `master_remove_node` that basically removes all the sharding metadata that is associated with said worker. So, if you downscale, and then upscale you may end up losing access to some of your shards.

You may need some manual management of adding/removing/activating/deactivating workers, and

[2020-04-17 13:37] hanefi commented on #124
You can see https://www.citusdata.com/product/comparison for a comparison of features between Citus community, Citus enterprise and Citus on Azure

[2020-04-17 18:21] abhi7788 commented on #102
Hi @jasonmp85
Just wanted to check if this issue is resolved on citus docker. We wanted to use citus for a small production use case, however we have uncovered that citus running on Kubernetes is not able to persist the data even after PVC is attached to it. We loose the data as soon as the k8 pod restarts. Could you please confirm if this a known bug in citus docker and there is no fix for this.

[2020-04-17 18:26] abhi7788 commented on #57
Thanks @hanefi for your reply. I will look into this to see if there is way i can customize and fix it. But jus to reconfirm is this a known bug with citus docker setup and if yes there is no fix available yet for this. I am little surprised to see this as we were  hoping to use citus on Kubernetes for some usecase but this issue seems jus unrealistic for a database that it cannot persist the data

[2020-04-20 07:36] metdos commented on #102
Hi @abhi7788, this is not prioritized at the moment. The Docker image is intended for development/testing purposes only and has not been prepared for production use.

[2020-10-15 16:19] uulyar opened #196 "Bug in script "wait-for-manager.sh""
When I try to mount  **/var/lib/postgresql/data** from worker to a local host directory in my docker-compose.yml it throws the exeption:
`chmod: changing permissions of '/var/lib/postgresql/data': Operation not permitted`

Possible solution is to change a script  "wait-for-manager.sh" like that:

[code]

citus version: 9.4.1
postgres version: 12

[2020-10-16 10:32] rdcm commented on #124
Hi!
Could I rebalance shards manually for playing with docker images without a citus enterprise license?

[2020-10-21 07:32] kgonia opened #197 "Build don't work using Dockerfile"
After downloading repo and running
`docker build .`

docker failing at step 5/11

[code]

[2020-10-28 14:32] kgonia opened #199 "Missing '/wait-for-manager.sh' script in alpine version"
Steps to reproduce:

`docker run --rm -it citusdata/citus:9.4.2-alpine ls`

[2020-10-29 10:37] huycuong89 opened #200 "Found the crontab in container citus master"
Hi

After I completed setup citus on docker, I found the crontab on the container citus master (please refs to image).
When the crontab is run, it take too much CPU.

Please support me.

Thanks

![image](https://user-images.githubusercontent.com/19384374/97557447-5ea99080-1a0d-11eb-865d-789a1bb97c50.png)

[2020-12-08 14:53] #69 closed

[2021-01-04 07:17] Srinivasa381224 opened #205 "dockerfile config changes"
Hi, am srinivasa working as a devops engineer am created simple docker file for my application i need to change some configuration of that application through dockerfile is there any way to change after war file is generated help me for this

[2021-01-07 12:45] marcocitus opened #207 "Introduce a docker image that matches Hyperscale (Citus)"
With https://github.com/citusdata/citus/pull/4434 our docker images will automatically become a lot more useful for testing and trying out Citus, since you can immediately use Citus functionality such as columnar storage and distributed tables in a single container without having to add worker nodes.

Our current docker images are very minimalistic, which makes them a useful building block, but fo

[2021-06-11 11:14] tucosaurus opened #224 "official docker hub images don't work on apple silicon"
I am facing all the issues that have been mentioned here https://github.com/docker/buildx/issues/595

[2021-07-19 22:09] bouzouidja opened #232 "/docker-entrypoint.sh: no such file or directory"
I am trying to setup a Citus cluster by executing the docker-compose -p citus up by using the latest tag (master branch)  as in the Citus manual. This last work perfectly until the worker node creation stage at the wait-for-manager.sh command. It seems that the file /docker-entrypoint.sh is not found.
Does this step is mandatory? any idea on how i may avoid this error?

Thank you in advance.

[2021-07-22 12:17] ReneBoehm commented on #232
We've got the same issue here. The cause is the script "wait-for-manager.sh" with tries to exec /docker-entrypoint.sh as soon as the manager is available. But the entrypoint can be found in /usr/local/bin.

[2021-07-23 21:42] bouzouidja commented on #232
Hello @ReneBoehm yes you are right when i set the right path it work perfectely! Thank you !
@ReneBoehm have you an idea on how to make the manager listening to workers node that maybe created by another host in the same network using the command >>>> docker-compose -p citus scale worker=3 for example.
The manager cannot add nodes created by other host within the network.

Thank you!
.

[2021-07-24 16:02] AliYildizoz909 commented on #232
@bouzouidja @ReneBoehm Hello, can you explain how you solved the problem, I have the same problem?
Do I need to make any changes to the docker files?

[2021-07-24 23:11] bouzouidja commented on #232
@AliYildizoz909 you need to change the line >>> exec gosu postgres "/docker-entrypoint.sh" "postgres" in wait-for-manager.sh script to >>>>exec gosu postgres "/usr/local/bin/docker-entrypoint.sh" "postgres" in order to make the worker find the file.

[2021-07-25 10:17] AliYildizoz909 commented on #232
Got it, thank you very much.

[2021-07-25 16:18] ReneBoehm commented on #232
Hi @bouzouidja,

I don't know how the manager works internally but running the containers in a docker swarm should do the trick IMHO, since the stack internal network is transparent to the containers. Every container in the stack can talk to every other service regardless on what host of the swarm it might have been started.

[2021-07-27 12:15] marrocksd commented on #232
Hi @bouzouidja I tried to build it myself but I couldn't get the mager to hear it. Could you update the image please, thank you

[2021-07-28 07:37] bouzouidja commented on #232
Yes the only way that i see is to use the docker swarm.
Thank you

[2021-07-28 07:58] ReneBoehm commented on #232
We are building a distributed test setup with a swarm right now, to do some benchmarking. Let's see what the outcome is.

[2021-07-28 09:22] marrocksd commented on #232
I reverted back to 10.0.3 due to this error. I applied the fix above and I was able to run the docker, but I couldn't get the manager to detect the worker container.
@ReneBoehm  Looking forward to seeing your result

[2021-08-02 14:08] hanefi commented on #232
I did some digging and realized that docker images for postgres base image used to have a symlink, but they removed it.

[code]

https://github.com/docker-library/postgres/commit/517c64f87e6661366b415df3f2273c76cea428b0#diff-be72594b81f7ffc23a3fd959ffa1f0e17c8043c1c1348b176f270f815d78d6cdL186

Once we fix all the dependencies on the existence of said symlink, we can close this issue

[2021-08-02 16:35] gurkanindibay commented on #232
Fixed with PR#233
Thanks for the issue and your suggested solution

[2021-08-02 16:35] #232 closed

[2021-08-02 16:52] bouzouidja commented on #232
Thank you @hanefi @gurkanindibay !

[2021-08-06 10:56] gurkanindibay opened #235 "Use 13-3 alpine image for citus alpine image"

[2021-08-06 12:56] gurkanindibay opened #236 "Github Actions Publish docker pipeline does not publish tags on tag push"

[2021-08-06 13:40] gurkanindibay opened #237 "Problem creating docker images manually"
Traceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.8/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/home/runner/work/docker/docker/tools/packaging_automation/publish_docker.py", line 203, in <module>
    triggering_event_info, current_branch = decode

[2021-08-09 05:41] gurkanindibay opened #239 "Nightly Docker jobs are getting error"
GITHUB_REF has extra quotation marks
Run python -m  tools.packaging_automation.publish_docker \
  python -m  tools.packaging_automation.publish_docker \
  --pipeline_trigger_type "${GITHUB_EVENT_NAME}" \
  --github_ref ""${GITHUB_REF}" \
  --image_type latest
  shell: /usr/bin/bash -e {0}
/home/runner/work/_temp/5c94b5d4-1010-43dd-9360-939b6688f77c.sh: line 3: unexpected EOF while looking for matc

[2021-08-09 06:02] gurkanindibay opened #240 "Problem while executing update_docker without postgres parameter"
While executing Update Docker pipeline without postgres parameter getting the error below
Run python -m tools.packaging_automation.update_docker \
  python -m tools.packaging_automation.update_docker \
  --prj_ver 10.1.1 \
  --gh-token  \
  --postgres_version
  shell: /usr/bin/bash -e {0}
usage: update_docker.py [-h] --prj_ver PRJ_VER --gh_token GH_TOKEN
                        [--postgres_version

[2021-08-09 09:52] gurkanindibay opened #244 "Add some logs for publish_docker script to be able to track progress"

[2021-08-10 13:22] gurkanindibay opened #254 "nightly image build does not execute on branch push"
On travis nightly image build is executed on branch push but on Github Actions it does not execute. Nightly image build should be added

[2021-08-11 08:24] AliYildizoz909 opened #257 "Error connecting to Citus master"
![image](https://user-images.githubusercontent.com/40477291/128994868-860e97e9-c593-4ec5-afaa-e0ff2eb444b7.png)

Hi, I am getting the following error when trying to connect to citus master with psql commands.

[code]

But I am able to connect without error with the following command.

[code]
I need to connect to citus with psql commands as it needs to be connected via Node Js application.
Or is th

[2021-08-24 10:15] #240 closed

[2021-08-25 05:41] #254 closed

[2021-09-17 09:47] gurkanindibay opened #265 "When building docker images, docker build logs should be printed"

[2021-09-17 09:53] gurkanindibay opened #266 "When creating packages with citus_package there should be summary field to summarize warnings and created pacakges"

[2021-09-28 08:30] gurkanindibay opened #271 "Create a template structure to manage docker files"
There are 3 docker files, postgres-12/Dockerfile, Dockerfile, postgres-14/Dockerfile, which are nearly same apart from base image versions. Having a template sctructure like packaging will decrease the Development and Review efforts

[2021-09-28 09:33] hanefi commented on #271
We do not have the templating yet

[2021-10-06 11:38] #239 closed

[2021-12-03 15:49] anandsowm commented on #257
I faced same issue with latest 10.2 docker image on windows and also had a local postgresql13 running as a windows service, I stopped that service, and then was able to connect to the postgresql docker instance using psql from the command prompt.

[2022-01-15 11:31] 4F2E4A2E commented on #57
[code]
Thank you for citus!

I am very interested in a ha-psql-citus cluster.
I am new to it and don't have a clear picture yet on the aspect of HA. Any links &/ input is very much welcomed.

This is what I did on trying to acomplish or test out a HA:

1. docker-compose up -d
1. scale the workers to 5 in total
1. import data -> ok
1. query data -> ok
1. scale the workers to 0 in total
1. query dat

[2022-01-22 18:04] sbarlabanov commented on #224
They do work but they work under Rosetta.
Would be nice to have arm64 images to run them natively on M1 macs.

[2022-01-24 13:11] sbarlabanov commented on #224
Sorry, I was wrong. Somehow it works on my Mac but not on the Macs of my collegues. It fails with the following error:

[code]

:(

[2022-01-25 02:56] tucosaurus commented on #224
@sbarlabanov When I looked at this last time in mid 2021, citus didn't have arm64 packages I could use. Could you point me to them if they are available now?

[2022-01-25 16:41] sbarlabanov commented on #224
@tucosaurus seems that they are not - https://github.com/citusdata/citus/issues/5063

[2022-01-26 09:40] sbarlabanov commented on #224
@tucosaurus Latest update: Citus amd64 images seem to work under the newest MacOS Monterey (remark: after having upgraded to Monterey also had to purge all existing postgres containers and images).

[2022-01-28 12:16] sbarlabanov commented on #224
Update: there are still problems even with Monterey. On some machines work and on some not. So a native arm64 image would be really helpful.

[2022-02-23 11:41] maziar-dandc commented on #41
@jasonmp85 @marcocitus

Hi guys, we had to create a worker for the second database as well as the manager which had been mentioned here, without the worker it would give the below error:
[code]

This error was raised on `create_distributed_table('tenant_table', 'id');` with a couple reference tables being created before it, without the reference tables being created, the create_distributed_table w

[2022-03-07 09:10] maziar-dandc commented on #41
Error reproduced at https://github.com/MaziyarMK/citus-bug

[2022-04-11 00:46] mintuhouse opened #295 "How to use the hyperscale docker images?"
[Ref](https://github.com/citusdata/docker/pull/280#pullrequestreview-843435274)

Are the new hyperscale citus images published somewhere?

[2022-04-12 07:23] gurkanindibay commented on #295
Hi @mintuhouse
Thanks for your interest. We don't publish this image into dockerhub . But you can build and run locally using the PR description you referenced. If you have problems, you can write here the problems you experienced and I can help you
Thanks

[2022-05-17 23:09] ShanonJackson commented on #105
I agree there is 'where do we stop' argument, but I also feel like there's a middle ground where the documentation itself show's very easy steps to install the extensions onto the container yourself.

Not everyone uses every extension, but I would say most people are using some extension.

Let's just 'invert control' to people to allow them to easily install their own.

[2022-05-20 08:14] gurkanindibay opened #297 "Upgrade postgres versions in docker files"
14.3, 13.7 12.11 Postgres has released. Upgrade versions

[2022-06-27 09:20] georgemarrows opened #302 "docker-compose scale doesn't exist at Docker 3"
First of all, thanks for these Docker images & in particular the docker compose config. Makes it very easy to experiment with Citus.

From the top-level README.md:

`docker-compose scale` [doesn't exist at Docker 3](https://docs.docker.com.xy2401.com/v17.09/compose/reference/scale/).  I'd do a PR but I'm not a docker-compose expert. I successfully used the command below.

```docker-compose -p citu

[2022-07-14 09:24] gurkanindibay opened #306 "Remove postgres 12 in updated docker images"
Since Citus 11, postgres 12 is not supported. Postgres 12 should be removed from update scripts. Postgres versions should be passed as parameter in pipeline to be able to control postgres versions to be updated in the future

[2022-07-29 01:43] jochendemuth opened #307 "Binding local folder to worker in cluster"
Using docker-compose.yml to deploy citus cluster. Works great!

Now, in preparation for a larger scale deployment I would like to mount the data directories of the workers to local folders. This would allow me to direct worker data volumes easily to different physical drives/storage.

I started by adding a line into the docker-compose.yml file extending the "volumes:" specification so that it read

[2022-07-29 08:09] onurctirtir commented on #307
@gurkanindibay, do you have some time to have a look into that ?

[2022-07-29 11:27] gurkanindibay commented on #307
@onurctirtir Thanks for the heads up. However,my plate is full for now. I have urgent issues to fix

[2022-08-03 15:36] zsvoboda opened #309 "Provide arm64 docker image for running on Apple M1/M2"
Please provide arm64 docker image for Apple M1/M2.

Thanks

ZD

[2022-08-04 17:29] acottner opened #310 "Worker nodes get error when specifying different PGDATA path"
When specifying a different PGDATA path value (ex: attaching another volume to /pgdata), worker nodes will get an error on startup because the postgres user does not own the directory.
The coordinator node handles this fine because it changes the directory's ownership automatically.

Prepending wait-for-manager.sh with `chown -R postgres "$PGDATA"` fixes the issue.

[2022-08-16 03:00] iamruhua opened #311 "Query blocked when one node is down"
I follow the instruction to start a citus cluster with 6 node.
I created distributed table with 2 replications.

I was expecting the cluster to work after I shutdown one worker node.
But actually, if I use docker stop to stop a worker, the simple select * from test_table will block.

I thought citus as high availability natively, am I wrong?

[2022-09-22 07:20] maziar-dandc opened #317 "Citus v10.2.6 -> v10.2.8 missing from Dockerhub"
https://hub.docker.com/r/citusdata/citus/tags?page=1&name=10.2.8

[2022-09-30 13:49] #306 closed

[2022-09-30 13:49] #207 closed

[2022-09-30 13:50] #295 closed

[2022-09-30 13:51] gurkanindibay opened #321 "Fix hadolint warnings"
Hadolint warnings are as below Fix them

[code]

[2022-10-18 15:59] xin-hedera commented on #309
upvote this

[2022-11-18 18:29] rcronin commented on #307
@gurkanindibay - Any update on this? Would be a nice feature to be able to do this

[2022-11-21 05:51] gurkanindibay commented on #307
@rcronin Thanks for your interest
still I can not prioritize this issue.